---
import { storyblokEditable } from "@storyblok/astro";

import { Icon } from "astro-icon";

import LinksModal from "./LinksModal.astro";

const shortioKey = import.meta.env.SHORTIO_KEY;

const { blok } = Astro.props;

const longURL = blok.link.url;

const response = await fetch("https://api.short.io/links", {
  method: "POST",
  headers: {
    accept: "application/json",
    "content-type": "application/json",
    authorization: `${shortioKey}`,
  },
  body: JSON.stringify({
    domain: "peepkicks.xyz",
    allowDuplicates: false,
    originalURL: `${longURL}`,
    title: "Links page",
  }),
});

const { shortURL } = await response.json();
---

<div
  {...storyblokEditable(blok)}
  class="grid grid-cols-[5fr,1fr] items-center bg-neutral h-16 max-h-[4rem] rounded-lg"
>
  <a href={shortURL} class="grid grid-cols-[1fr,4fr] h-full" target="_blank">
    <div class="flex items-center justify-center h-full">
      {
        blok.icon ? (
          <div class="col-start-1 w-6">
            <Icon pack="fa-solid" name={blok.icon} />{" "}
          </div>
        ) : (
          ""
        )
      }
    </div>

    <div
      class="flex items-center text-center w-full h-full col-start-2 justify-center"
    >
      <h2 class="font-normal text-md">{blok.name}</h2>
    </div>
  </a>
  <LinksModal shortURL={shortURL} />
</div>
